{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/button-has-type": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-unused-expressions": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "react/jsx-no-bind": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
