body {
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  min-height: 70vh;
  width: 100%;
}

.app .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px;
  height: auto;
}

@media screen and (max-width: 599px) {
  .app .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.app .inputs h1 {
  font-size: 30px;
}

@media screen and (max-width: 1586px) {
  .app .inputs h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1101px) {
  .app .inputs h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 899px) {
  .app .inputs h1 {
    font-size: 13px;
  }
}

@media screen and (max-width: 699px) {
  .app .inputs h1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 599px) {
  .app .inputs h1 {
    margin: 0 0 10px;
  }
}

.app .inputs > * {
  margin: 0 10px;
}

@media screen and (max-width: 1101px) {
  .app .inputs > * {
    margin: 0 8px;
  }
}

.app .inputs .inputs_nick, .app .inputs .inputs_time, .app .inputs .inputs_players {
  background-color: transparent;
  border: none;
  border-bottom: 1.3px solid #b92d44;
  width: 140px;
  height: 80%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: #e6dbdb;
  text-align: center;
}

.app .inputs .inputs_nick::-webkit-input-placeholder, .app .inputs .inputs_time::-webkit-input-placeholder, .app .inputs .inputs_players::-webkit-input-placeholder {
  color: rgba(134, 134, 198, 0.718);
}

.app .inputs .inputs_nick:hover, .app .inputs .inputs_time:hover, .app .inputs .inputs_players:hover {
  width: 180px;
}

.app .inputs .inputs_nick:hover::-webkit-input-placeholder, .app .inputs .inputs_time:hover::-webkit-input-placeholder, .app .inputs .inputs_players:hover::-webkit-input-placeholder {
  -webkit-transition: 1.3s;
  transition: 1.3s;
  color: transparent;
}

.app .inputs .inputs_nick:focus, .app .inputs .inputs_time:focus, .app .inputs .inputs_players:focus {
  outline: none;
}

@media screen and (max-width: 1101px) {
  .app .inputs .inputs_nick, .app .inputs .inputs_time, .app .inputs .inputs_players {
    width: 120px;
    font-size: 12px;
  }
}

@media screen and (max-width: 899px) {
  .app .inputs .inputs_nick, .app .inputs .inputs_time, .app .inputs .inputs_players {
    width: 100px;
    font-size: 12px;
  }
}

@media screen and (max-width: 699px) {
  .app .inputs .inputs_nick, .app .inputs .inputs_time, .app .inputs .inputs_players {
    width: 80px;
    font-size: 10px;
  }
}

@media screen and (max-width: 599px) {
  .app .inputs .inputs_nick, .app .inputs .inputs_time, .app .inputs .inputs_players {
    margin-bottom: 40px;
  }
}

.app .loader {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app .loader div {
  width: 30px;
  height: 30px;
  background-color: #b92d44;
  margin: 0 20px;
  border-radius: 100%;
}

.app .loader .loader_dot1 {
  -webkit-animation: loader 1s ease-in-out 0s infinite;
          animation: loader 1s ease-in-out 0s infinite;
}

.app .loader .loader_dot2 {
  -webkit-animation: loader 1s ease-in-out 0.2s infinite;
          animation: loader 1s ease-in-out 0.2s infinite;
}

.app .loader .loader_dot3 {
  -webkit-animation: loader 1s ease-in-out 0.4s infinite;
          animation: loader 1s ease-in-out 0.4s infinite;
}

.app .inputs_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 599px) {
  .app .inputs_button {
    margin-bottom: 35px;
  }
}

.app .inputs_button :first-child {
  margin-right: 5px;
}

.app .inputs_button .inputs_button_search, .app .inputs_button .inputs_button_clear {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  height: 30px;
  font-size: 12px;
  background-color: transparent;
  border: 1.5px solid #b92d44;
  color: #e6dbdb;
  outline: none;
}

.app .buttonSection {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  margin: 50px 0 100px;
}

.app .buttonSection .inputs_button_search-icon {
  margin-right: 20px;
}

@media screen and (max-width: 1586px) {
  .app .buttonSection {
    font-size: 10px;
  }
}

@media screen and (max-width: 1101px) {
  .app .buttonSection {
    font-size: 8px;
  }
}

@media screen and (max-width: 899px) {
  .app .buttonSection {
    font-size: 6.7px;
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 699px) {
  .app .buttonSection {
    font-size: 6px;
  }
}

@media screen and (max-width: 599px) {
  .app .buttonSection {
    margin: 0 0 35px;
  }
}

.app .buttonSection .buttonSection_random, .app .buttonSection .buttonSection_notPlayed, .app .buttonSection .buttonSection_played {
  background-color: transparent;
  border: 1.5px solid #b92d44;
  color: #e6dbdb;
  outline: none;
  font-size: 30px;
  color: #e6dbdb;
  margin: 0 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.app .buttonSection .buttonSection_random:hover, .app .buttonSection .buttonSection_notPlayed:hover, .app .buttonSection .buttonSection_played:hover {
  background-color: #b92d44;
  color: rgba(11, 17, 34, 0.877);
}

@media screen and (max-width: 1586px) {
  .app .buttonSection .buttonSection_random, .app .buttonSection .buttonSection_notPlayed, .app .buttonSection .buttonSection_played {
    font-size: 20px;
  }
}

@media screen and (max-width: 899px) {
  .app .buttonSection .buttonSection_random, .app .buttonSection .buttonSection_notPlayed, .app .buttonSection .buttonSection_played {
    font-size: 15px;
  }
}

@media screen and (max-width: 699px) {
  .app .buttonSection .buttonSection_random, .app .buttonSection .buttonSection_notPlayed, .app .buttonSection .buttonSection_played {
    font-size: 10px;
  }
}

.app .totalTime {
  display: none;
  text-align: center;
  font-size: 30px;
  color: #e6dbdb;
  margin-bottom: 80px;
}

@media screen and (max-width: 1101px) {
  .app .totalTime {
    font-size: 25px;
  }
}

@media screen and (max-width: 899px) {
  .app .totalTime {
    font-size: 20px;
  }
}

@media screen and (max-width: 699px) {
  .app .totalTime {
    font-size: 15px;
  }
}

.app .totalTime span {
  font-size: 45px;
  color: #b92d44;
}

@media screen and (max-width: 1101px) {
  .app .totalTime span {
    font-size: 40px;
  }
}

@media screen and (max-width: 899px) {
  .app .totalTime span {
    font-size: 35px;
  }
}

@media screen and (max-width: 699px) {
  .app .totalTime span {
    font-size: 30px;
  }
}

.app .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.app .results .gameCollection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.app .results .gameCollection li {
  margin: 20px;
}

@media screen and (max-width: 699px) {
  .app .results .gameCollection li {
    margin: 0 0 20px 5px;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */