@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$primarFont: 'Raleway';
$backColor: rgba(17, 17, 37, 0.877);
$basicWhite: rgb(230, 219, 219);
$pinkyColor: rgb(187, 45, 68);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primarFont;
    background-color: $backColor;
    color: $basicWhite;
}