@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$primarFont: 'Raleway';
$backColor: hsla(225, 50%, 9%, 0.877);
$basicWhite: hsl(0, 18%, 88%);
$pinkyColor: hsl(350, 61%, 45%);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primarFont;
    background-color: $backColor;
    color: $basicWhite;
}